/* COLORS */
/* dark primary: #303F9F */
/* light primary: #C5CAE9 */
/* primary: #3F51B5 */
/* text: #FFFFFF */
/* accent: #DF3600 */
/* primary text: #212121 */
/* secondary text: #757575 */
/* divider: #BDBDBD */

.QuestionForm__input {
    width: 100%;
}

.QuestionForm__fieldset {
    margin: 0 auto;
}

label + .Input {
    margin-top: .5em;
}

.QuestionForm__input + .QuestionForm__input {
    margin-top: 1em;
}

label {
    margin-top: 1em;
    font-weight: bold;
}

.QuestionForm__legend {
    position: absolute;
    left: -9999px;
    top: -9999px;
    height: 1px;
    width: 1px;
}

.QuestionForm__button {
    margin-top: 1rem;
}

noscript + .Button {
    margin-top: 1em;
}