.QuestionForm__input {
    max-width: 80%;
    max-width: 80vw;
}

.QuestionForm__label + .QuestionForm__input {
    margin-top: .5em;
}

.QuestionForm__input + .QuestionForm__input {
    margin-top: 1em;
}

.QuestionForm__input + .QuestionForm__label {
    margin-top: 2em;
}