/* COLORS */
/* dark primary: #303F9F */
/* light primary: #C5CAE9 */
/* primary: #3F51B5 */
/* text: #FFFFFF */
/* accent: #DF3600 */
/* primary text: #212121 */
/* secondary text: #757575 */
/* divider: #BDBDBD */

.AnswerBrick {
    display: block;
    background-color: #303F9F;
    color: #ffffff;
    padding: 20%;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

.AnswerBrick + .Hint {
    margin-top: 2em;
}