/* COLORS */
/* dark primary: #303F9F */
/* light primary: #C5CAE9 */
/* primary: #3F51B5 */
/* text: #FFFFFF */
/* accent: #DF3600 */
/* primary text: #212121 */
/* secondary text: #757575 */
/* divider: #BDBDBD */

.ContentSection__title {
    text-align: center;
}

.ScoreListOption {
    min-width: 5em;
    text-align: center;
}

.ScoreListOption + .ScoreListOption {
    margin-left: 5%;
}

.ScoreListOption__graph-bar {
    margin-bottom: 1em;
    width: 100%;
    display: block;
    background-color: #303F9F;
    transition: .3s ease all;
    will-change: heigth;
    position: relative;
}

.ScoreListOption__incrementor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.ScoreListOption:nth-child(1) .ScoreListOption__incrementor {
    color: #000000;
}

.ScoreListOption:nth-child(1) .ScoreListOption__graph-bar {
    background-color: #DF3600;
}

.ScoreListOption:nth-child(2) .ScoreListOption__graph-bar {
    background-color: #303F9F;
}

.ScoreListOption:nth-child(3) .ScoreListOption__graph-bar {
    background-color: #009688;
}

.ScoreListOption:nth-child(4) .ScoreListOption__graph-bar {
    background-color: #795548;
}

.ScoreListOption__amount {
    text-align: center;
    display: block;
}

.ContentSection__footer {
    text-align: center;
    margin-top: 3em;
}