/* COLORS */
/* dark primary: #303F9F */
/* light primary: #C5CAE9 */
/* primary: #3F51B5 */
/* text: #FFFFFF */
/* accent: #DF3600 */
/* primary text: #212121 */
/* secondary text: #757575 */
/* divider: #BDBDBD */

.PageHeader {
    padding: 5%;
    background-color: #303F9F;
    color: #FFFFFF;
}

.PageHeader > .PageHeader__title-link {
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
}

.PageHeader__title {
    font-weight: normal;
    letter-spacing: 4px;
}

.Input {
    display: block;
    font-size: 1.2em;
    padding: .25em .5em;
    width: 30em;
    width: 60ch;
    color: #212121;
    border: 1px solid #000000;
}

.Input::placeholder {
    color: #757575;
    opacity: 0.5;
}

.Button {
    padding: .5em 1em;
    border-radius: 1px;
    background-color: #FFFFFF;
    border: none;
    transition: .1s ease all;
}

.Button:hover,
.Button:focus {
    background-color: #E2E2E2;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
}

.Button--submit {
    background-color: #DF3600;
    color: #000000;
}

.Button--submit:hover,
.Button--submit:focus {
    background-color: #FF4C13;
}

.ContentSection {
    max-width: 50em;
    max-width: 50rem;
    padding: 2.5%;
    margin: 0 auto;
}

.ContentSection__title {
    margin-bottom: 1em;
}

.ContentSection__subtitle {
    margin-bottom: .5em;
    font-weight: normal;
}

.ContentSection__link,
.ContentSection__text {
    margin-bottom: .5em;
    display: inline-block;
}

.ContentSection__footer {
    margin-top: 1em;
}

.Link {
    display: block;
    font-size: inherit;
    color: #DF3600;
    transition: .2s color ease;
    text-decoration: none;
    cursor: pointer;
}

.Link:hover,
.Link:focus {
    text-decoration: underline;
}

@supports (display: flex) {
    .Row {
        display: flex;
        flex-direction: row;
    }

    .Row--wrap {
        flex-wrap: wrap;
    }

    .Row--center {
        justify-content: center;
    }

    .Row--align-end {
        align-items: flex-end;
    }
}

@supports not (display: flex) {
    .Row > * {
        width: 100%;
    }

    .Row--center > * + * {
        margin-left: 10%;
    }
}

.Hint {
    text-align: center;
}