<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
    </head>
    <body>
        <main>
            <header>
                <% include ../partials/linkTitle %>
            </header>
            <section>
                <h2>Create a poll</h2>
                <form
                    action="/create-room"
                    method="POST"
                    class="QuestionForm"
                    enctype="application/x-www-form-urlencoded"
                >
                    <fieldset class="QuestionForm__fieldset">
                        <legend class="QuestionForm__legend">
                            Enter a question to ask to your students
                        </legend>

                        <label for="question" class="QuestionForm__label">Question</label>
                        <input
                            type="text"
                            name="question"
                            id="question"
                            placeholder="What is your opinion on dinosaurs?"
                            class="QuestionForm__input Input"
                        >

                        <label for="option-1" class="QuestionForm__label">Options</label>
                        <input
                            type="text"
                            name="option-1"
                            id="option-1"
                            placeholder="Your option goes here"
                            class="QuestionForm__input Input"
                        >
                        <input
                            type="text"
                            name="option-2"
                            id="option-2"
                            placeholder="Your option goes here"
                            class="QuestionForm__input Input"
                        >
                        <input
                            type="text"
                            name="option-3"
                            id="option-3"
                            placeholder="Your option goes here"
                            class="QuestionForm__input Input"
                        >
                        <input
                            type="text"
                            name="option-4"
                            id="option-4"
                            placeholder="Your option goes here"
                            class="QuestionForm__input Input"
                        >
                    </fieldset>

                    <button type="button" class="Button QuestionForm__button">Add another option</button>
                    <button type="submit" class="Button Button--submit QuestionForm__button">Start the poll</button>
                </form>
            </section>
        </main>
    </body>
</html>