<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <main>
            <header>
                <h1>StudentPoll</h1>
            </header>
            <section>
                <h2>Students prepare your phones</h2>
                <a href="#">#Poll-room url# / QR-code if JavaScript is enabled</a>
                <span>Specific amount of time left for people to join in is shown here</span>
            </section>
            <footer>
                <a href="/">Create another poll!</button>
            </footer>
        </main>
    </body>
</html>