<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../../../../../css/pending.css">
    </head>
    <body>
        <main>
            <header class="PageHeader">
                <h1 class="PageHeader__title">StudentPoll</h1>
            </header>
            <section class="ContentSection">
                <h2 class="ContentSection__title">
                    Thanks for participating to: "<%= room.question %>"
                </h2>
                <span class="AnswerBrick">
                    <%= selectedOption.title %>
                </span>
                <p class="Hint">Watch the beamer to get to know what other people think about this question.</p>
            </section>
        </main>
        <script src="../../../../scripts/featureDetection.js"></script>
        <script src="../../../../../scripts/pending.js"></script>
    </body>
</html>