<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <main>
            <header class="PageHeader">
                <h1 class="PageHeader__title">StudentPoll</h1>
            </header>
            <section class="ContentSection">
                <h2 class="ContentSection__title">
                    Your answer to: "<%= room.question %>"
                </h2>
                <span>
                    <%= selectedOption.title %>
                </span>
                <p>Watch the beamer to get to know what other people think about this question.</p>
            </section>
        </main>
    </body>
</html>