<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <main>
            <header>
                <h1>StudentPoll</h1>
            </header>
            <section>
                <h2>Your answer to: #Question#</h2>
                <span>#Selected option#</span>
            </section>
        </main>
    </body>
</html>