<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <main>
            <header>
                <h1>StudentPoll</h1>
            </header>
            <section>
                <h2>Your answer to: <%= room.question %></h2>
                <span><%= selectedOption.title %></span>
                <p>Watch the beamer to get to know what other people think about this question.</p>
            </section>
        </main>
    </body>
</html>