<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <main>
            <header>
                <h1>StudentPoll</h1>
            </header>
            <section>
                <h2><%= room.question %></h2>
                <% room.options && room.options.forEach(function(option) { %>
                    <form
                        action="<%= option.incrementPostUrl %>"
                        method="POST"
                        enctype="application/x-www-form-urlencoded"
                    >
                        <fieldset>
                            <legend><%= option.title %></legend>
                            <button type="submit"><%= option.title %></button>
                        </fieldset>
                    </form>
                <% }) %>
            </section>
        </main>
    </body>
</html>