<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../../../../../css/room.css">
    </head>
    <body>
        <main>
            <header class="PageHeader">
                <% include ../partials/linkTitle %>
            </header>
            <section class="ContentSection">
                <h2 class="ContentSection__title">
                    Waiting room
                </h2>
                <h3 class="ContentSection__subtitle">
                    The question that will be polled is: "<%= room.question %>"
                </h3>

                <i id="qrcode"></i>
                <a href="<%= participationUrl %>" class="Link ContentSection__link">
                    Alternatively, you can also join by clicking here.
                </a>
                <span class="ContentSection__text">
                    Or by typing the following URL into your browser: <%= participationUrl %>
                </span>

                <span id="countdown-timer"></span>
                <a href="<%= scoreUrl %>" class="Link ContentSection__link">
                    Alternatively, click here if when you are ready to start the poll.
                </a>
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/davidshimjs-qrcodejs@0.0.2/qrcode.min.js"></script>
        <script src="../../../../scripts/featureDetection.js"></script>
        <script src="../../../../scripts/room.js"></script>
    </body>
</html>