<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <main>
            <header>
                <a href="/">
                    <h1>StudentPoll</h1>
                </a>
            </header>
            <section>
                <h2>Waiting room</h2>
                <a href="#">#Poll-room url# / QR-code if JavaScript is enabled</a>
                <span>Specific amount of time left for people to join in is shown here</span>
            </section>
        </main>
    </body>
</html>