<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <main>
            <header>
                <% include ../partials/linkTitle %>
            </header>
            <section>
                <h2>Live score for: <%= room.question %></h2>
                <ul>
                    <% room.options.forEach(function(option) { %>
                        <li>
                            <h3><%= option.title %></h3>
                            <span><%= option.currentCount %></span>
                        </li>
                    <% }) %>
                </ul>
            </section>
            <footer>
                <a href="/">Create another poll!</button>
            </footer>
        </main>
    </body>
</html>