<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <main>
            <header>
                <a href="/">
                    <h1>StudentPoll</h1>
                </a>
            </header>
            <section>
                <h2>Live score for #question#</h2>
                <ul>
                    <li>68</li>
                    <li>49</li>
                    <li>39</li>
                    <li>20</li>
                </ul>
            </section>
            <footer>
                <a href="/">Create another poll!</button>
            </footer>
        </main>
    </body>
</html>