<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A performance optimized of a polling application.">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#303f9f">
<link rel="shortcut icon" href="/assets/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Browser Technologies">
<meta name="application-name" content="Browser Technologies">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/assets/browserconfig.xml">
<meta name="theme-color" content="#c5cae9">
<link rel="stylesheet" type="text/css" href="../../../../../css/style.css">
<link rel="stylesheet" type="text/css" href="../../../../../css/shared.css">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>
    Polling application
</title>